<h1>Créer un compte</h1>

<form action="{{ url_for('main.add_user') }}" method="post">

  <input type="text" name="nom" placeholder="Nom" required>

  <input type="email" name="email" placeholder="Email" required>

  <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>

  <label>

    <input type="checkbox" name="isadmin"> Admin

  </label>

  <button type="submit">Créer un compte</button>

</form>



<p>Vous avez déjà un compte ? <a href="{{ url_for('main.login') }}">Connectez-vous ici</a></p>
