<h1>Bienvenue sur notre site</h1>

{% if not current_user.is_authenticated %}
  <h2>Créer un utilisateur :</h2>
  <form action="/add_user" method="post">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>
    <label>
      <input type="checkbox" name="isadmin"> Admin
    </label>
    <button type="submit">Ajouter</button>
  </form>
{% else %}
  <p>Vous êtes déjà connecté. <a href="{{ url_for('main.logout') }}">Se déconnecter</a></p>
{% endif %}

<h2>Utilisateurs enregistrés :</h2>
<ul>
  {% for user in users %}
    <li>
      {{ user.nom }} ({{ user.email }}) {% if user.isadmin %}(Admin){% endif %}
      <a href="{{ url_for('main.edit_user', id=user.id_user) }}">Modifier</a>
      <form action="{{ url_for('main.delete_user', id=user.id_user) }}" method="post" style="display:inline;">
        <button type="submit">Supprimer</button>
      </form>
    </li>
  {% endfor %}
</ul>