<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<h1>Modifier l'utilisateur</h1>

<form action="" method="post">
  <input type="text" name="nom" value="{{ user.nom }}" required>
  <input type="email" name="email" value="{{ user.email }}" required>
  <input type="password" name="mot_de_passe" placeholder="Laisser vide pour ne pas changer">
  <label>
    <input type="checkbox" name="isadmin" {% if user.isadmin %}checked{% endif %}> Admin
  </label>
  <button type="submit">Modifier</button>
</form>
<a href="{{ url_for('main.dashboard') }}">< Retour au dashboard</a>